* {
    margin: 0;
    padding: 0;
}

.panel-titles {
    padding: 110px 0 75px 0;
    text-align: center;
}

.panel-titles h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #222222;
    margin: 0px;
}

.panel-titles p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #777777;
}

.description h3 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #222222;
    margin-top: 20px;
}

.description p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #777777;
    margin-top: 10px;
    line-height: 1.5em;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.uppercase {
    text-transform: uppercase;
}

header {
    background: url(../img/header/header-bg.jpg) no-repeat center top / cover;
}

.container {
    width: 945px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: 40px;
}

.top-side nav {
    float: right;
    margin-top: 50px;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    float: left;
    list-style-type: none;
    margin-left: 40px;
}

.menu a {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.titles-1 {
    margin-top: 200px;
    padding-bottom: 160px;
}

.titles-1_1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

.titles-1_2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 75px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 27px;
}

.titles-1_button {
    margin: 70px auto 0px auto;
    width: 240px;
}

.titles-1_button a {
    display: block;
    background-color: #fed136;
    padding: 20px 50px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #484543;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#services {
    background-color: #ffffff;
}

.set-of-services {
    padding: 0 0 115px 0;
    margin: 0 auto;
    width: 910px;
}

.set-of-services_block {
    float: left;
    width: 250px;
    margin-left: 80px;
}

.set-of-services_block:first-child {
    margin-left: 0;
}

.set-of-services_block_icon {
    width: 74px;
    margin: 0px auto;
    margin-top: 20px;
}

#our-portfolio {
    background-color: #f7f7f7;
}

.set-of-examples {
    padding: 0 0 135px 0;
}

.set-of-examples div {
    float: left;
    margin-left: 35px;
}

.set-of-examples div:first-child {
    margin-left: 0px;
}

.about-us-item {
    margin-bottom: 90px;
}

.about-us-item .description {
    width: 300px;
}

.left {
    padding-right: 381px;
}

.left div{
    float: right;
}

.left .description * {
    text-align: right;
}

.left .description {
    margin-right: 35px;
}

.right {
    padding-left: 381px;
}

.right div{
    float: left;
}

.right .description * {
    text-align: left;
}

.right .description {
    margin-left: 35px;
}

